{{ define "footer" }}
            </div>
        </main>
        <script>
            (function () {
            'use strict'
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
            })()
        </script>
    </body>
</html>
{{ end }}