{{ template "header" }}
{{ template "navigation" }}

{{ template "body" }}  
                   <div class="container bg-dark text-white sticky-top shadow offset-md-0 px-4 p-3">
                    <div class="row justify-content-start">
                        <h1 class="h2 fs-4">Polling</h1>
                    </div>
                </div> 

                <div class="col-md-10 px-3 p-3">

                    <textarea class="col-md-12" id="message" style="overflow:auto; height:800px"></textarea>
                    <div id=output></div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 mx-auto d-grid ">
                            <button id=startPoll type="button" class="btn btn-primary">Start Polling</button>
                        </div>
                        <div class="col-md-6 mx-auto d-grid">
                            <button id=stopPoll type="button" class="btn btn-secondary">Stop Polling</button>
                        </div>
                    </div>


                    <script>
                        let output = document.querySelector("#output"),
                            textarea = document.querySelector("textarea");

                        let startButton = document.querySelector("#startPoll"),
                            stopButton = document.querySelector("#stopPoll");

                        startButton.addEventListener("click", startPoll);
                        stopButton.addEventListener("click", stopPoll);

                        let pollingServer = "polling." + document.domain;
                        let socket = new WebSocket("wss://"+ pollingServer);
                        let pollingInterval;

                        function startPoll() {
                            console.log("starting polling");
                            socket.onopen = event => { 
                                console.log("Connection Established");
                                socket.send("biid?id="+1);
                            };

                            socket.onmessage = event => {
                                console.log(event);
                                textarea.value += event.data + "\n";
                            };

                            socket.onclose = event => {
                                if (event.wasClean) {
                                    console.log("Connection closed");
                                    clearInterval(pollingInterval);
                                } else {
                                    console.log("Connection not closed cleanly");
                                    clearInterval(pollingInterval);
                                }
                            };

                            pollingInterval = setInterval(() => {
                                socket.send('update');
                            }, 2000);

                            socket.onerror = error => console.log(`error ${error.message}`);
                        };

                        function stopPoll() {
                            console.log("stopping polling");
                            clearInterval(pollingInterval);
                        };

                    </script>
                </div>

{{ template "footer" }}