{
    "domain": "test.example.company",
    "publicAddress": "355.355.355.1",
    "logLevel": "INFO",
    "pollingEncoding": "burp",
    "maxPollingEvents": 256,
    "http": {
        "enableV2": true,
        "username": "root",
        "password": "toor",
        "csrfKey": "a8mdaslw029jlkjnwn9shdw13dfew53i",
        "signingKey": "SuperSecretSecureSigningKeyOf32b",
        "templatePath": "internal/pkg/http/template/",
        "static": {
            "browsing": true,
            "enable": true,
            "path": "static/",
            "prefix": "/repository"
        },
        "listeners": [
            {
                "address": "",
                "pollingSubdomain": "polling",
                "allowlist": ["127.0.0.1", "192.168.1.10"],
                "port": 80,
                "tls": {
                    "port": 443,
                    "publicKey": "certs/star.test.example.company/fullchain.pem",
                    "privateKey": "certs/star.test.example.company/privkey.pem"
                }
            }
        ]
    },
    "dns": {
        "zones": [
            "test.example.company",
            "dev.example.company"
        ],
        "listeners": [
            {
                "address": "",
                "proto": "tcp",
                "port": 53
            },
            {
                "address": "",
                "proto": "udp",
                "port": 54
            },
            {
                "address": "",
                "proto": "tcp-tls",
                "port": 53,
                "tls": {
                    "publicKey": "certs/star.test.example.company/fullchain.pem",
                    "privateKey": "certs/star.test.example.company/privkey.pem"
                }
            }
        ]
    },
    "pluginsDirectory": "plugins/",
    "plugins": {
        "ldap": {
            "listeners": [
                {
                    "address": "0.0.0.0",
                    "port": 389
                },
                {
                    "address": "0.0.0.0",
                    "port": 636,
                    "tls": {
                        "publicKey": "certs/star.test.example.company/fullchain.pem",
                        "privateKey": "certs/star.test.example.company/privkey.pem"
                    }
                }
            ],
            "dn": [
                {
                    "baseDN": "dc=exploit,dc=com",
                    "attributes": {
                        "javaClassName": "test.TEST",
                        "javaCodebase": "https://test.example.company/repository/src/com/conspirator/",
                        "objectClass": ["javaObject", "javaSerializedObject"],
                        "javaSerializedData": "file:///bundle/static/test.ser" 
                    }
                },
                {
                    "baseDN": "",
                    "attributes": {}
                }
            ]
        }
    }
}
